<nav class="navbar">
    <span class="navbar-brand">
        <img src="/assets/logo/32x32.png" alt="" width="20" height="20" class="navbar-logo">
        mangadex-dl-wui-vibed
    </span>
    <div class="navbar-links">
        <a href="{{ url_for('main.index') }}"
            class="navbar-link{% if request.endpoint == 'main.index' %} active{% endif %}">Home</a>
        <a href="{{ url_for('main.cache_page') }}"
            class="navbar-link{% if request.endpoint == 'main.cache_page' %} active{% endif %}">Cache</a>
    </div>
</nav>
