<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mangadex-dl-wui-vibed</title>
    <style>{% include "partials/_style.css" %}</style>
    <link rel="icon" type="image/png" href="{{ favicon_b64 }}">
</head>

<body>
    {% include "partials/_navbar.html" %}
    <div class="container">
        {% block content %}{% endblock %}
        {% include "partials/_footer.html" %}
    </div>
    {% block scripts %}{% endblock %}
</body>

</html>
